# On Windows, git can be setup to convert text files to use
# DOS/Windows newlines (\r\n) rather than Unix style (\n).
# This should be harmless for most of our unit tests...
#
# However, where testing indexing and get_raw (including the
# BGZF tests comparing the uncompressed file to the compressed
# file) it can be important to preserve the line endings in git.

# MMTF is a binary file format,
Tests/PDB/4CUP.mmtf binary
