# MANIFEST.in
#
# This tells distutils what files to distribute.

include LICENSE
include README
include MANIFEST.in

recursive-include Tests *      # Include regression tests.
recursive-include kmbio *.c      # Include all .c files.
recursive-include kmbio *.h      # Include headers to compile .c files.

# Include Bio.Cluster, Bio.Affy, Bio.KDTree, Bio.phenotype
# Note setup.py will only install these if Numpy is installed.
recursive-include kmbio/KDTree *.py
recursive-include Bio/phenotype *.py

# e.g. from running the unit tests, or PyPy, etc
global-exclude *.pyc *.pyo *.py{} *.py-e

# Cython files
global-include *.pyx
global-include *.pxd
